[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "diffEnrich"]
	path = diffEnrich
	url = https://github.com/sabalab/diffenrich
	shallow = true
	registered = true
